<div class="mainbar">
  <div class="container">
    <div id="menu_general">
      <button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <!-- MENU PARA USUARIOS CONSULTA -->
      <div class="mainbar-collapse collapse">
        <ul class="nav navbar-nav mainbar-nav" style="text-align: center;display: inline-block">
          <li style="display: inline; float: left;">
            <a href="@{/autenticar}" style="color:#ffffff">
              <fa-icon class="fa-2xl" [icon]="faHome"></fa-icon>

              Inicio
            </a>
          </li>
          <!--Materiales -->

          <!--fdfsdf-->

          <!--fdsfgfsgdfgf-->

          <li class="dropdown" style="display: inline; float: left;">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="color:#ffffff" class="nav-link dropdown-toggle">
              <fa-icon class="fa-2xl" [icon]="faTh"></fa-icon>

              <!--i><img src="./static/img/materiales/Agrupacion-02.png" alt="Site Logo" width="49" height="49"/></i-->
              <div style="display: inline-block;">Materiales</div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                <a class=" dropdown-item" style="display: inline-block;margin-left: 3px;" href="#">Materiales Simples
                </a>
                <fa-icon class="fa-2xl" [icon]="faObjectUngroup"></fa-icon>

              </li>
              <li>
                <a class=" dropdown-item" style="display: inline-block;margin-left: 3px;"
                  href="#">&nbsp;&nbsp;Materiales Compuestos</a>
                <fa-icon class="fa-2xl" [icon]="faObjectGroup"></fa-icon>

              </li>

            </ul>
          </li>
          <!--Fin Materiales-->
          <li class="dropdown" style="display: inline; float: left;">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" style="color:#ffffff">
              <fa-icon class="fa-2xl" [icon]="faGavel"></fa-icon>


              <div style="display: inline-block;">Equipos</div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><i class="fa fa-square-o"></i>
                  <div style="display: inline-block;margin-left: 3px;">Equipos Simples</div>
                </a>
              </li>
              <li>
                <a href="#"><i class="fa fa-clone"></i>
                  <div style="display: inline-block;margin-left: 3px;">Equipos Compuestos</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown" style="display: inline; float: left;">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" style="color:#ffffff">
              <fa-icon class="fa-2xl" [icon]="faUsers"></fa-icon>


              <div style="display: inline-block;">Mano de Obras</div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><i class="fa fa-user"></i>
                  <div style="display: inline-block;margin-left: 3px;">Simples</div>
                </a>
              </li>
              <li>
                <a href="#"><i class="fa fa-users"></i>
                  <div style="display: inline-block;margin-left: 3px;">Compuestas</div>
                </a>
              </li>
            </ul>
          </li>
          <li style="display: inline; float: left;">
            <a href="#" style="color:#ffffff">
              <fa-icon class="fa-2xl" [icon]="faFileText"></fa-icon>

              Partidas
            </a>
          </li>

        </ul>
      </div>
      <!-- FIN MENU PARA USUARIOS CONSULTA -->
    </div>
  </div>
</div>
