<app-header></app-header>
<app-mainbar></app-mainbar>

<div class="container">
  <div class="content">
    <div class="content-container">
      <div>
        <h4 class="heading-inline">Bienvenido(a)&nbsp;</h4>
        <h4 class="heading-inline">Pedro,&nbsp;</h4>
        <h4 class="heading-inline">
          <small>tu última conexión fue el día</small>
          <small>miércoles 20 de junio del 2022.</small>
        </h4>
      </div>
    </div>
  </div>
</div>
<footer th:fragment="piepagina" class="footer">
  <div class="container">
    <div class="row" style="text-align: center; vertical-align: middle; color:#ffffff">
      <div class="col-sm-12">
        <h4>&copy;2022 Todos los derechos reservados.</h4>
      </div>
    </div>
  </div>
</footer>
